body {background-color: grey;}
h1  { font-family: Georgia, serif;
  text-align: center;
font-size: 30px;

color: whitesmoke;
font-weight: 700;
text-decoration: underline rgb(68, 68, 68);
}

p    {color: lightgreen; font-family: Georgia, serif;
    font-size: 20px;}
ul {color:orange; font-family: Arial; font-size: 20px;}



.opening p {
  padding: 1%;
  margin: 2%;
  font-size: 1.3rem;
}

.opening p:nth-child(1) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .2rem;
}

.opening p:nth-child(2)
{
  font-family: 'Courier New', Courier, monospace;
}




a:link {
    background-color: yellow;
  }
  
  a:visited {
    background-color: lightpink;
  }
  
  a:hover {
    background-color: lightgreen;
    color: darkblue;
  }
  
  a:active {
    background-color: hotpink;
  } 

  .link_test {
    width: 100%;
    text-align: right;
  }
  
  a { font-size: 2.5rem;
    margin: 1%;
    max-width: 100%;
    width: 200px;
  }


  .jobs p {
    color: red;
  }

  .jobs hr {
    margin: 1%;
  }


  @media (min-width: 769px) {

    .jobs {
      border: 3px dashed red;
      padding: 1.5rem;
      background-color: lightblue;
      display: flex;
      justify-content: space-between;
    }

    .opening {
      display: flex;
    }

    img {
      max-width: 90%;
      width: auto;
      height: auto;
      margin: 1%;
    }
  }

  /* Apply styles when the viewport width is less than or equal to 768px */ 
  @media (max-width: 768px) 
  {
/* Your CSS styles for small screens here */ 
.opening {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

img {
  max-width: 70%;
  width: auto;
  height: auto;
  margin: 1%;
  flex-grow: 1;
  align-self: center;
  justify-self: center;
  flex: 0 1 auto;
  margin-left: 15%;

}

.jobs {
  
  background-color: rgb(53, 19, 223);
  
}

  
}